<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor = "let a of accounts; let i = index">
      <div class="card">
        <div class="card-header">
          <i class="icon-credit-card"></i>
          <label class="form-control-label">Account Name:</label> <span>{{a.bank_account_name}}</span>
        </div>
        <div class="card-block">
          <label class="form-control-label">Account Type:</label> <span>{{a.bankAccountType.bank_account_type_name}}</span><br>
          <label class="form-control-label">Account Number:</label> <span>{{a.bank_account_number}}</span><br>
          <label class="form-control-label">Credit Amount:</label> <span>{{a.credit_amount}}$</span><br>
        </div>
      </div>
    </div>
  </div>
</div>
