<div class="account-list-item">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3  p-t-30">
                    <i class="icon-credit-card fa-4x align-middle"></i>
                </div>
                <div class="col-sm-7 t-a-r">
                    <span class="account-type">{{selectedAccount.bankAccountType ? selectedAccount.bankAccountType.bank_account_type_name : ''}}</span>
                    <span class="account-name">{{selectedAccount.bank_account_name}}</span>

                    <span class="account-number">{{selectedAccount.bank_account_number}}</span>
                    <p class="account-balance">{{selectedAccount.credit_amount}} <span class="currency">{{selectedAccount.curreny}}</span>
                    </p>
                </div>
                <div class="col-sm-2" (click)="showList = !showList">
                    <i class="icon-arrow-down"
                       [ngClass]="{'icon-arrow-down': showList == false, 'icon-arrow-up': showList == true}"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="account-list-item-other" *ngIf="showList">
    <div class="row">
        <div class="col-sm-12">
            <div class="row hand-pointer" *ngFor="let account of accountsList" (click)="selectAccount(account)">
                <div class="col-sm-3 p-t-30">
                    <i class="icon-credit-card fa-4x align-middle"></i>
                </div>
                <div class="col-sm-7 t-a-r">
                    <span class="account-type">{{account.bankAccountType ? account.bankAccountType.bank_account_type_name : ''}}</span>
                    <span class="account-name">{{account.bank_account_name}}</span>

                    <span class="account-number">{{account.bank_account_number}}</span>
                    <p class="account-balance">{{account.credit_amount}} <span class="currency">{{account.curreny}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
